.fondo{
    background-color: black;
}

.miTexto{
    font-size: 80px;
    color:aqua;

}
.miTexto2{
    font-size: 30px;
    color:blueviolet;

}
.miTexto3{
    font-size: 15px;
    color:blanchedalmond;

}

footer{
    background-color: yellowgreen;
}

#principal{
    font-size: 100px;
}

.logo{
    width: 1200px;
}