.fondo{
    background-color: black;
}

.miTexto{
    font-size: 80px;
    color:aqua;

}
.miTexto2{
    font-size: 30px;
    color:blueviolet;

}
.miTexto3{
    font-size: 15px;
    color:blanchedalmond;

}